.project-card {
    width: 423px;
    height: 368px;
    position: relative;
    border-radius: 12px;
}
.project-card > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    border-radius: inherit;
    filter: opacity(40%);
    z-index: -1;
}

.project-card > div {
    position: absolute;
    bottom: 17px;
    left: 20px;
    display: block;
}

.project-card h1 {
    font-size: 32px;
}
.project-card p {
    margin-bottom: 16px;
}
.project-card a {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 10px;
}
.project-card a.button-primary {
    padding: 8px 25px;
}
.project-card a.icon-button {
    width: 38px;
    height: 38px;
}


@media screen and (max-width: 480px) {
    .project-card {
        width: 100%;
        height: 368px;
        position: relative;
        border-radius: 12px;
    } 
}