.link-button > * {
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
}
.link-button > img {
    width: 24px;
    margin-right: 10px;
}
.link-button > span {
    font-size: 15px;
    font-weight: 600;
}

.link-button:hover > span {
    color: var(--default-orange);
}