* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-header {
    z-index: 100;
    padding: 33px 113px 16px 113px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--background-gray);
}
.app-header .loading-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--default-orange);
    animation: loading-line-progress .8s;
}
.app-header > img {
    width: 152px;
    height: auto;
}

.menu-button {
    border: none;
    background-color: transparent;
    display: none;
}
.menu-button > span {
    width: 27px;
    height: 3px;
    border-radius: 6px;
    display: block;
    background-color: #fff;
    margin-bottom: 5px;
}
.menu-button > span:last-of-type {
    width: 20px;
    margin-left: auto;
}

.app-header > .menu-container > a {
    margin: 0 14px;
}
.app-header > .menu-container > a:not(.button-secondary, .button-primary) {
    color: #fff;
}
.app-header > .menu-container > a:not(.button-secondary, .button-primary):hover {
    text-decoration: underline;
}


@media screen and (max-width: 890px) {
    .app-header {
        padding: 33px 70px 16px 70px;
        display: inline-block;
    }
    .menu-button {
        border: none;
        background-color: transparent;
        display: block;
        float: right;
    }
    .app-header > .menu-container {
        height: 0;
        overflow: hidden;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        -webkit-transition: all .4s ease-out;
        transition: all .4s ease-out;
    }
    .menu-open {
        height: 200px !important;
        overflow-y: scroll !important;
    }
    .app-header > .menu-container > a {
        margin: 8px 0;
    }
}

@media screen and (max-width: 767px) {
    .app-header {
        padding: 14px 16px;
    }
}

@media screen and (max-width: 220px) {
    .app-header {
        display: block;
        text-align: center;
    }
}


@keyframes loading-line-progress {
    0% { width: 0; }
    100% { width: 100%; }
}