.projects-header {
    padding: 23px 113px;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: var(--dark-gray);
}

.projects-header > a {
    color: #fff;
    display: flex;
    align-items: center;
}
.projects-header > a:hover {
    text-decoration: underline;
}
.link-icon {
    width: 22px;
    height: auto;
    margin-right: 6px;
}

.projects-header > div {
    justify-self: center !important;
    padding: 12px 20px;
    width: 45%;
    border-radius: 30px;
    font-family: 'Poppins';
    border: 2px solid #707070;
    display: flex;
    justify-content: space-between;
}
.projects-header > div > input {
    background-color: transparent;
    font-family: 'Poppins';
    border: none;
    outline: none;
    font-size: 15px;
    color: #B8B8B8;
    width: 100%;
}

.active-button {
    background-image: linear-gradient(45deg, var(--button1-left-color), var(--button1-right-color));
    border-radius: 50%;
    color: #000 !important;
}
.projects-header > div > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 3px;
    color: #707070;
}
.search-icon {
    width: 21px;
    height: 21px;
}

.error-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.project-page_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px 35px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
    margin: 0 10%;
    margin-top: 54px;
}
.project-page_container > div {
    margin: auto;
}


@media screen and (max-width: 1660px) {
    .project-page_container {
        margin: 0 6%;
    }  
}

@media screen and (max-width: 1520px) {
    .project-page_container {
        grid-template-columns: 1fr 1fr;
        gap: 35px 35px;
        grid-template-areas:
          ". ."
          ". ."
          ". .";
    }  
}

@media screen and (max-width: 1004px) {
    .project-page_container {
        grid-template-columns: 1fr;
        gap: 35px 35px;
        grid-template-areas:
          "."
          "."
          ".";
    }
}

@media screen and (max-width: 920px) {
    .projects-header {
        padding: 23px 70px;
        grid-template-columns: 10% 80% 10%;
    }

    .projects-header > a {
        width: 50%;
    }
    .projects-header > a > .link-icon {
        width: 30px;
        height: 30px;
        margin: 0;
    }
    .projects-header > a > span {
        display: none;
    } 

    .projects-header > div {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .projects-header {
        padding: 18px 27px;
        grid-template-columns: 15% 70% 15%;
    }

    .projects-header > a > .link-icon {
        width: 40px;
        height: 40px;
        margin: 0;
    }

    .projects-header > div {
        width: 100%;
        padding: 7px 10px;
    }
    .projects-header > div > input {
        font-size: 13px;
    }
}