@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
:root {
  --default-orange: #FF9100;
  --background-gray: #0F0F0F;
  --dark-gray: #0A0A0A;
  --light-gray: rgba(255,255,255,.6);
  --icon-button-bg-color: rgba(255,255,255, .25);
  --button1-left-color: #FD8B05;
  --button1-right-color: #EC5CB4;
  --button2-bg-color: rgba(253, 139, 5, .4);
  --button2-border-color: rgb(253, 139, 5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: var(--background-gray);
  color: #fff;
}
h1 {
  font-size: 35px;
  font-weight: 700;
}
p {
  opacity: .8;
}

a {
  display: inline-block;
}

.highlight-text {
  color: var(--default-orange);
}
.title-p {
  font-weight: 600;
  opacity: 1;
}
.loading-wheel {
  width: 45px;
  height: 45px;
  display: block;
  margin: auto;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid white;
  border-style: dashed;
}
.spinning-wheel {
  animation: spin 3s linear infinite;
}


.hero-section {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile-picture {
  border: 5px solid var(--default-orange);
  border-radius: 50%; 
}
.image-width-placeholder {
  height: 100%;
}

.hero-content {
  max-width: 45%;
  padding-left: 90px;
}
.hero-title {
  padding-top: 39px;
}
.hero-description-title {
  margin: 90px 0 20px 0;
}
.hero-content > a {
  margin-top: 35px;
}


section#projects {
  text-align: center;
}
.projects-container {
  display: block;
  width: 100%;
  padding: 150px 15% 50px 15%;
  text-align: center;
}


.el_center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-card {
  width: 740px;
  height: fit-content;
  background-color: var(--dark-gray);
  margin-top: 47px;
  padding: 45px 55px 35px 55px;
  border-radius: 28px;
}
.email-wrapper {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.email-container {
  width: 65%;
  background-color: rgba(0,0,0, .40);
  padding: 8px 20px;
  border: 2px solid #707070;
  border-radius: 7px;
}

.social-card {
  margin-top: 50px;
  padding: 15px 25px 50px 25px;
  background-color: #1C1C1C;
  border-radius: 16px;
}
.social-card > nav {
  margin-top: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 1380px) {
  .hero-section {
    margin: 0 100px;
  }
  .hero-content {
    padding-left: 60px;
  }
}
@media screen and (max-width: 1120px) {
  .hero-section {
    margin: 0 50px;
  }
  .profile-picture, .image-width-placeholder {
    width: 45%;
  }
  .hero-content {
    max-width: 60%;
    padding-left: 30px;
  }  
}

@media screen and (max-width: 976px) {
  .email-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .email-wrapper > a {
    margin-top: 15px;
  }
}

@media screen and (max-width: 890px) {
  .hero-section {
    padding-top: 120px;
    flex-direction: column;
    margin: 0 27px;
  }
  .profile-picture, .image-width-placeholder {
    width: 50%;
    display: block;
    margin: auto;
  }

  .hero-content {
    max-width: 100%;
  }

  .email-container {
    width: 100%;
  }

  .social-card > nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .social-card > nav > a {
    margin: 9px 0;
  }
}

@media screen and (max-width: 660px) {
  .contact-card {
    width: 100%;
    height: fit-content;
    background-color: var(--dark-gray);
    margin-top: 47px;
    padding: 40px 20px 20px 20px;
    border-radius: 28px;
  }

  .social-card {
    padding: 15px 20px 35px 20px;
  }
}

@media screen and (max-width: 530px) {
  .projects-container {
    padding: 150px 46px 30px 46px;
  }

  .email-container {
    font-size: 12px;
    padding: 8px 10px;
  }
  .email-wrapper > a {
    padding: 12px 25px;
  }
}

@media screen and (max-width: 450px) {
  .profile-picture, .image-width-placeholder {
    width: 65%;
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 420px) {
  .email-container {
    overflow-x: auto;
  }
}



@keyframes spin {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}